@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;600&display=swap');

:root {
  --main: rgb(31, 56, 78);
  --secondary: hsl(345, 72%, 37%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  height: -webkit-fill-available;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  top: 50%;
  transform: translateY(-50%);
}

img {
  max-width: 100%;
  max-height: 100%;
}

/* JS */
.hidden {
  visibility: hidden;
}

/*************
End of Commons
*************/

/* Nav */
nav {
  max-width: 1300px;
  margin: 0 auto;
  background-color: #fff;
}

nav .logo {
  height: 12.5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1300px;
}

nav .logo a {
  margin: 0 auto;
}

nav .logo a img {
  max-height: 12.5vh;
}

nav .logo .desktopLinks {
  display: none;
  text-align: center;
}

nav .navigation {
  font-size: 1.2rem;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  position: relative;
}

nav .navigation > a {
  transition: background-color 0.25s;
  padding: 1rem 0;
  text-align: center;
  margin: 0 auto;
  flex: 0;
}

.l {
  display: none;
}

/* Swiper */
.hero {
  position: relative;
  max-width: 1300px;
  margin: 2rem auto;
}

.swiper img {
  object-fit: cover;
  height: max(375px, 50vh);
  width: 100%;
}

.swiper div p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25rem;
  line-height: 2.5rem;
  border: 2px solid #fff;
  width: 100%;
  max-width: min(75%, 35ch);
  padding: 2rem 2rem;
  font-weight: bold;
}

/* RollableMenu */
.rollableMenu {
  position: absolute;
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  z-index: 10;
  background-color: #fff;
}

.rollableMenu div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 3rem 1rem;
  width: 62.5%;
}

.rollableMenu .regions {
  width: 20%;
  min-width: 140px;
}

.rollableMenu .domains .domainLogo {
  transition: scale 0.5s;
  max-width: 20%;
  max-height: 150px;
  object-fit: contain;
  margin: 0 1rem;
  scale: 1;
}

.rollableMenu .domains .domainLogo:hover {
  cursor: pointer;
  scale: 1.05;
}

.rollableMenu div p {
  position: absolute;
  top: 1rem;
  font-weight: bold;
}

.rollableMenu a:hover:not(.webSiteBTN, .aboutDiv a),
.rollableMenu div a:hover,
.rollableMenu div a:focus {
  font-weight: bold;
}

/* Domain Details */
.domainResult {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  min-height: 100%;
  width: 100%;
  opacity: 100%;
  z-index: 9;
  padding: 0 2rem;
  gap: 2rem;
  background-color: #fff;
  background-size: cover !important;
}

.domainResult div p {
  color: white;
  font-weight: bold;
}

.navResults {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  background-color: #fff;
  opacity: 100%;
  padding: 3rem 2rem;
  gap: 2rem;
}

.domainResult > img {
  width: 350px;
  max-height: 250px;
  object-fit: contain;
  filter: grayscale(1) invert(1);
}

.domainResult a {
  max-width: 175px;
}

.navResults a {
  max-width: 150px;
}

.domainResult a img,
.navResults a img {
  transition: scale 0.25s;
}

.domainResult a img:hover,
.navResults a img:hover {
  scale: 1.025;
}

.domainResult div {
  display: grid;
  padding: 1rem;
}

.domainResult div h1 {
  color: #fff;
}

.domainResult div p:not(i p) {
  margin-top: 1rem;
  max-width: 50ch;
}

.domainResult .webSiteBTN {
  padding: 0.75rem 2rem;
  margin: 2rem 0;
  width: fit-content;
  background-color: var(--secondary);
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: scale 0.2s;
}

.domainResult .webSiteBTN:hover {
  scale: 1.03;
}

.domainResult img {
  padding: 1rem;
}

.list {
  flex-direction: column;
  gap: 0.25rem;
  max-height: 400px;
  padding: 3.5rem 2.5rem 2.5rem 2.5rem;
  align-items: flex-start;
}

.list a {
  max-width: min(25%, 50%);
  width: 100%;
}

.rollableMenu .choice {
  position: absolute;
  top: 0.25rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
}

/* Contact */
.contactDiv {
  border: none;
}

.contactDiv > div {
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

.contactDiv div img {
  border-radius: 20px;
}

.contactDiv a {
  text-align: center;
  margin-bottom: 0.5rem;
  max-width: 400px;
}

/* Logos */
.logosDiv {
  display: none;
  margin: 1.5rem auto;
  max-width: 1300px;
  position: relative;
}

.swiper2 {
  margin: 0 4rem;
  overflow: hidden;
}

.swiper-wrapper2 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  color: rgba(0, 0, 0, 1);
}

.logosDiv img {
  object-fit: contain;
  max-height: 100px;
  max-width: 150px;
  /* filter: saturate(0) opacity(50%); */
}

.logosDiv img:hover {
  cursor: pointer;
  filter: saturate(1) opacity(100%);
}

/* Preload */
.preload {
  display: none;
}

/* About */
.aboutDiv {
  border: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  top: 0;
  min-height: 100%;
  width: 100%;
  opacity: 100%;
  z-index: 9;
  background-color: #fff;
}

.aboutDivChild {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100%;
  width: 100%;
  opacity: 100%;
  gap: 2rem;
  background-color: #fff;
}

.aboutDivChild div {
  display: grid;
  padding: 1rem;
}

.aboutDivChild div p {
  margin-top: 1rem;
  max-width: 50ch;
}

.aboutDivChild img {
  max-height: 500px;
  max-width: none;
  padding: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.aboutDivChild a {
  padding: 0.75rem 2rem;
  width: fit-content;
  max-width: none;
  background-color: var(--secondary);
  color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  transition: scale 0.2s;
  margin: 2rem auto;
}

.aboutDivChild a:hover {
  scale: 1.02;
}

.aboutClients {
  padding: 0 1rem 2rem 1rem;
  width: 100%;
}

.aboutClients h2 {
  margin: 1rem auto;
  text-align: center;
}

.aboutClients .aboutClientsLogoDiv {
  width: 100%;
  max-width: 450px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.aboutClients img {
  max-width: 100px;
  object-fit: contain;
}

/* Footer */
footer {
  position: -webkit-sticky;
  position: sticky;
  top: 100vh;
  padding: 1rem 0 1rem 0;
  width: 100vw;
}

footer .mail {
  color: var(--secondary);
  font-weight: bold;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

@media screen and (min-width: 800px) {
  nav .logo a {
    margin: 0;
  }

  nav .logo .desktopLinks {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-transform: uppercase;
  }

  nav .logo .desktopLinks a {
    width: 125px;
  }

  nav .logo .desktopLinks a:hover {
    font-weight: bold;
  }

  nav .navigation a {
    flex: 1;
  }

  nav .navigation a:hover {
    background-color: var(--main);
    color: #fff;
  }

  .l {
    display: block;
  }

  .hero {
    display: block;
  }

  .swiper img {
    height: 100%;
  }

  .logosDiv {
    display: block;
  }

  .about {
    display: block;
  }

  .rollableMenu div {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 3rem 2rem;
    width: 80%;
  }

  .rollableMenu .domains {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
