@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@200;300;400;600&display=swap');

:root {
  --main: rgb(31, 56, 78);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  height: 100%;
  height: -webkit-fill-available;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

i {
  top: 50%;
  transform: translateY(-50%);
}

img {
  max-width: 100%;
  max-height: 100%;
}

/*************
End of Commons
*************/

/* Nav */
nav {
  max-width: 1300px;
  margin: 0 auto;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
}

nav .logo {
  height: 12.5vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1300px;
}

nav .logo img {
  height: 125%;
  max-height: 250px;
  align-self: flex-start;
}

nav .logo .links {
  display: none;
}

nav .navigation {
  font-size: 1.2rem;
  background-color: #fff;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  max-width: 500px;
  margin: 0 auto;
}

nav .navigation a {
  transition: background-color 0.25s;
  background-color: #fff;
  padding: 1rem 0;
  text-align: center;
  width: 100%;
}

nav .navigation a:nth-child(2) {
  width: 50%;
}

nav .navigation a:focus {
  background-color: var(--main);
  color: #fff;
}

nav .navigation i {
  display: none;
}

/* Navigation */
.rollableMenu {
  position: absolute;
  width: min(100%, 500px);
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  z-index: 5;
  background-color: #fff;
}

.rollableMenu div:first-child {
  width: 100%;
  max-width: 100%;
  padding: 1rem 5%;
  font-weight: bold;
}

.rollableMenu div:not(:first-child) {
  padding: 0rem 1rem 1rem 1rem;
}

.rollableMenu div:last-child p {
  position: absolute;
  top: 1rem;
  font-weight: bold;
}

.rollableMenu div:not(:first-child) a:hover,
.rollableMenu div:not(:first-child) a:focus {
  font-weight: bold;
}

.rollableMenu div {
  width: 50%;
  max-width: min(250px, 50%);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.navigation a:hover {
  background-color: var(--main);
  color: #fff;
}

/* Swiper */
.hero {
  position: relative;
  max-height: 400px;
  max-width: 1300px;
  margin: 2rem auto;
}

.swiper img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.swiper div a h1 {
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 3rem;
}

.swiper div a:first-child h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  line-height: 3rem;
}

/* Domain Details */
.domainDetails {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

/* Logos */
.logos {
  display: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 0 auto;
  max-width: 1300px;
}

.logos img {
  object-fit: contain;
  max-height: 100px;
  max-width: 150px;
  filter: saturate(0) opacity(50%);
}

.logos img:hover {
  filter: saturate(0) opacity(100%);
}

/* Comment */
.comment {
  max-width: min(90%, 50ch);
  text-align: center;
  margin: 5rem auto;
  padding: 1rem 2rem;
  border: 2px solid rgba(0, 0, 0, 0.176);
  color: rgba(0, 0, 0, 0.75);
}

/* About */
.about {
  display: none;
  width: 100%;
  background-color: #d3c3b0;
  margin: 4rem auto 0 auto;
  padding: 4rem 0;
}

.about > div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: 1rem auto;
  max-width: 950px;
}

.about img {
  max-width: 325px;
}

.about p {
  max-width: 50ch;
  color: #000;
  padding: 0.75rem 0;
}

@media screen and (min-width: 800px) {
  nav .logo form {
    display: block;
  }

  nav .logo .links {
    width: 30%;
    display: flex;
    justify-content: flex-end;
    gap: 20%;
    text-transform: uppercase;
    padding: 0 1rem;
  }

  .hero {
    display: block;
  }

  .logos {
    display: flex;
  }

  .about {
    display: block;
  }
}
